/* set font */
body {
    font-family: 'Quicksand', sans-serif;
}
/* style for homepage */
#home {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
    background: linear-gradient(#ace0f9, #e7f0fd);
}
.centerIt {
    padding-top: 30vh;
}

/* homepage animation
 * taken from https://codepen.io/alvaromontoro/pen/RmRjvg
 * and tweaked a little bit
 */

@keyframes showTopText {
    0% { transform: translate3d(20%, 100%, 0); }
    100% { transform: translate3d(20%, 15%, 0); }
}
@keyframes showBottomText {
    0% { transform: translate3d(8%, -100%, 0); }
    100% { transform: translate3d(8%, 0, 0); }
}
.animated-title {
    color: #222;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
}
.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.animated-title > div div {
    font-size: 3vmin;
    padding: 2vmin 0;
    position: absolute;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    text-align: center;
    font-size: 14vmin;
    color: black;
}
.animated-title > div.text-bottom {
    color: #767676;
    bottom: 0;
}
.animated-title > div.text-bottom div {
    animation: showBottomText 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}
/* END homepage animation*/

#scrollDown {
    position: relative;
    top: 50vh;
    background-color: transparent;
    color: whitesmoke;
}
#scrollDownIcon {
    font-size: 5vh;
}

/* hang from hover.css*/

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* end hang */

#aboutMe {
    padding-top: 10vh;
    min-height: 80vh;
    background-color: #e7f0fd;
}

#aboutHeader {
    padding-bottom: 3%;
}
#propic {
    display: block;
    margin: auto;
}
#selfIntro {
    padding-top: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
    font-size: max(16px, 2vh);
}

#myProjects {
    min-height: 100vh;
    padding-top: 10vh;
    background: linear-gradient(#e7f0fd, #ace0f9);
}

.projectHeader {
    margin-bottom: 10vh;
}

/* project gallery animations
 * taken and tweaked from https://bootstrapious.com/p/bootstrap-image-hover
 */

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  color: white;
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
}



/* END project gallery animations */

/* Social Media buttons */

#Contact {
    background: linear-gradient(#ace0f9, #e7f0fd);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.emailIcon a {
    color: black;
    text-decoration-color: none;
    text-decoration: none;
}

.btn-circle {
    border-radius: 75%;
    margin-left: 2vw;
}
.btn-circle i {
    font-size: 2vh;
}

/* end social media buttons */

/* Glow from hover.css */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* end glow */

/* Project Details Styles */
.projectWrapper {
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
}

.projectInfo {
    min-height: 90vh;
    overflow: hidden;
    padding: 0;
}

.projectTitle {
    width: 100%;
    position: absolute;
    top: 40%;
}

.projectMediaTop {
    height: 90vh;
    justify-content: center;
}
.projectOverview {
    min-height: 45vh;
    padding-top: 5vh;
    font-size: 2vh;
}

.projectOverview h4 {
    font-size: 4vh;
    padding-bottom: 4vh;
}

.collab, .projectDesc{
    padding-bottom: 2vh;
}
.projectDesc p {
    margin-left: 1em;
    margin-right: 1em;
}
.collab ul {
    list-style-position: inside;
    padding-left: 0;
}

.myRoles ul {
    display: inline-block;
    list-style-position: inside;
    padding-left: 5%;
    text-align: left;
    padding-bottom: 5vh;
}
.learning {
    min-height: 50vh;
}
.learning h4 {
    font-size: 4vh;
    padding-bottom: 4vh;
}

.tools {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    padding-left: 0;
    font-size: 2vh;
}
.usedTools {
    margin-top: 5vh;
}
.goals {
    margin-top: 5vh;
}
.goals ul {
    list-style-position: inside;
    text-align: left;
    font-size: 2vh;
    padding-right: 1em;
    padding-bottom: 5vh;
}
.designProcess {
    min-height: 100vh;
}
.designProcess h3{
    margin-top: 60px;
    font-size: 4vh;
}

/* End Generic Project Details Styles */

/* Give Up The Ghost style */

#GUTGbg {
    background: linear-gradient(#29323c, #868f96);
}

#GUTGfont {
    font-family: 'Leander';
    color: #ADB3B8;
}

#GUTGfontColor {
    color: #D8DFE7;
}

#GUTGinfo {
    background-color: black;
}

#GUTGlearning {
    background-color: #5A6269;
}

/* End Give Up The Ghost Style */